* {
    background-color: #202020;
}

.squareTile {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    transition: background-color 1s;
}

.squareTile:hover {
    background-color: #43cc77;
    transition: background-color 0s;
}

#tileSpace {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem;
}